@-moz-document url-prefix() { 
	/*.top-menu ul li a{
		padding-bottom: 22px;
	}*/
}

/*----------------- Responsive ---------------------*/
@media (max-width: 1367px){
	
}

@media (max-width: 1200px){
	
	.wrapper{ margin: 0px; }

}

/* Large desktop */
@media (max-width : 1135px){
	
	.container_2,
	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
		max-width: inherit;
	}

}

/*(max-width : 1024px) and*/
@media (max-width: 1200px){
	
}

@media (min-width : 1003px) {
	.headers-responss{ display: none; }	
	.hidden-headersetku{ display: block; }
}

@media (max-width : 1002px) {
	
	.headers-responss{ display: none; }	

	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}

}

@media (max-width: 992px) {

}

@media (max-width: 980px){
	
	.top-menu ul li a {
	    font-size: 14px;
	}

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
		
}

@media (min-width: 768px){

}

@media (max-width: 768px){
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	.headers-responss{
		display: block;
	}

	header.homep.head,
	header.head{
		position: relative;
	}
	
	footer [class*="col-md"]{
		margin: 15px auto;
	}
	.outers-block-top-wrapfcs{
		position: relative;
		left: inherit; top: inherit; right: inherit; bottom: inherit;
		height: auto;
	}
	.outers-block-top-wrapfcs .posfull-abs.custom_js{
		position: relative;
		top: inherit; left: inherit; right: inherit; bottom: inherit;
	}
	.outers-block-top-wrapfcs .insides{
		padding-top: 1.6em;
		padding-bottom: 1.6em;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}

@media (max-width: 360px) {
}

@media (max-width: 358px) {
}