

@media screen and (max-width: 1600px) {
	
}

@media screen and (max-width: 1370px) {
	
	.container{
		max-width: inherit; width: auto;
		padding: 0 20px;
	}

}

@media screen and (max-width: 1280px) {

	.carousel-caption{
		left: 10%;
		right: 10%;
	}
	.block-hero-slider .nav_btms_slide ul li a{
		font-size: 19px;
	}
	
}

@media screen and (max-width: 1025px) {

	.logo_heads {
	    max-width: 255px;
	}
	.block-hero-slider .carousel .carousel-caption h4 {
	    font-size: 2.1rem;
	}

	.block-hero-slider .carousel .carousel-caption p {
	    font-size: 1rem;
	}
	.block-hero-slider .nav_btms_slide ul li a {
	    font-size: 15px;
	}

	.block-hero-slider .carousel .carousel-caption h4 {
	    font-size: 2.1rem;
	}

	.block-hero-slider .carousel .carousel-caption p {
	    font-size: 1rem;
	}

	section.home-section1 .lefts_cotnent h2.ntitle {
	    font-size: 30px;
	}

	section.home-section1 .rights_content p {
	    font-size: 16px;
	}

	.blocks_blue_middle_home .inner .in-texts h4 {
	    font-size: 30px;
	}

	.blocks_blue_middle_home .inner .in-texts p {
	    font-size: 16px;
	    line-height: 1.45;
	}

	.blocks_blue_middle_home {
	    height: auto;
	}

	.blocks_blue_middle_home .inner {
	    margin-bottom: 4%;
	}
	section.home-sectionfooter .inners .rights_content h3.ntitle {
	    font-size: 30px;
	}

	section.home-sectionfooter .inners .rights_content p {
	    font-size: 17px;
	}

	section.home-sectionfooter .inners .rights_content .nx-texts p, section.home-sectionfooter .inners .rights_content .nx-texts p a {
	    font-size: 13px;
	}

	footer.foot .inners p {
	    font-size: 13px;
	}

	footer.foot .inners ul.sub-footers li a {
	    font-size: 14px;
	}

	footer.foot .inners p.copyrights {
	    font-size: 10px;
	}

}

@media screen and (max-width: 980px) {
	
	.container{
		padding: 0 15px;
	}

}

@media screen and (max-width: 767px) {

	header.head.headers{
		height: auto; 
		width: 100%; padding: 0; margin: 0;

		.navbar-light .navbar-toggler{
			border: 0;
			padding: 0;
		}
		.navbar-light .navbar-brand{
			max-width: 230px;
			padding-top: 0.65rem; 
			padding-bottom: 0.65rem;
		}
	}

	.carousel-caption {
	    left: 5%;
	    right: 5%;
	}
	.nav_btms_slide{
		display: none;
	}

	section.home-section1{
		.inners{
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
	}
	section.home-section1 .lefts_cotnent h2.ntitle{
		font-size: 26px;
		padding-bottom: 1.4rem;
	}
	section.home-section1 .rights_content p{
		font-size: 14px;
	}
	
	.blocks_blue_middle_home .inner .in-texts {
	    margin-left: 0px !important;
	    margin-bottom: 2.5rem;
	}

	a.custom_btns_def {
	    font-size: 14px;
	}

	.blocks_blue_middle_home .inner .in-texts p {
	    font-size: 14px;
	}

	.picts_gallery.mr-5 {
	    margin-right: 0 !important;
	}

	section.home-sectionfooter{
		background-position: bottom center;
		height: auto;
		min-height: inherit;
		.inners .rights_content{
			p{
				margin-bottom: 1.5rem;
			}
		}
	}

	footer.foot{
		.col-md-30{
			display: none;
		}
	}

	.navbar-light .navbar-nav{
		li{
			padding: 0.2rem 0 !important;
			.nav-link{
				font-size: 14px; font-weight: 500; color: #464646;
				padding: 0.1rem 0;
			}
		}
	}
	.block-hero-slider .carousel .carousel-caption{
		bottom: 10%;
	}
	.block-hero-slider .carousel .carousel-caption h4 {
	    font-size: 32px;
	    color: #d20000;
	}
	.block-hero-slider .carousel .carousel-caption p{
		font-size: 16px;
	}

	.nfoot_mob_wa {
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    z-index: 150;
	    width: 100%;
	    background-color: #0e1622;
	    .nx_button {
		    text-align: center;
		    padding: 0.8rem 0;
		    border-top: 1px solid #000000;
		    color: #fff;
		    a {
			    color: #fff;
			    font-size: 16px;
			    font-weight: 400;
			}
		}
	}
	
	// subpage
	.outers-coverpage .pos_abs_middles_text {
	    position: relative;
	    top: inherit;
	    left: inherit;
	    background-color: #19253b;
	    padding: 1.5rem 0;
	}

	.outers-coverpage .pos_abs_middles_text .texts_block h1.title_page {
	    font-size: 28px;
	}

	.outers-coverpage .bloc_post_breadcrumb {
	    position: relative;
	    bottom: inherit;
	    height: auto;
	    width: auto;
	    background-color: #ccc;
	    padding: 1rem 0;
	    background-color: #0f1924;
	}

	.outers-coverpage .bloc_post_breadcrumb ol.breadcrumb li {
	    font-size: 13px;
	}

	.outers-coverpage .bloc_post_breadcrumb ol.breadcrumb li a {
	    font-size: 13px;
	}

	.outers-coverpage .pos_abs_middles_text .texts_block p {
	    font-size: 15px;
	}

	.inners_middle.py-5{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.content-text h2.title_red{
		font-size: 28px;
	}
	.content-text h3{
		font-size: 21px;
	}
	.content-text p{
		font-size: 16px;
	}

	.lists_serv_solutions .items .descs {
	    padding: 2rem 1rem 2.5rem;
	    max-width: inherit;
	}
	.lists_serv_solutions .items .descs p{
		font-size: 16px;
	}
	.pictures_services {
	    position: relative;
	    left: inherit;
	    top: inherit;
	}

	.spacer_about_vision{
		height: auto;
	}

	.about_content2{
		background: none; min-height: inherit;
		background-color: #0f1924;
		padding-bottom: 0 !important;
	}
	.about_content2 h4.title_visi{
		font-size: 35px;
	}
	.blockts_n_icon{
		padding-bottom: 2.5rem;
		p{
			font-size: 15px;
			margin-bottom: 1rem;
		}
	}
	.box-form.tl-contact-form .form-group input, 
	.box-form.tl-contact-form .form-group textarea{
		font-size: 14px;
	}
	.box-form.tl-contact-form{
		.fright{
			float: none !important;
		}
		button.btns-submit-bt{
			margin-top: 1rem;
		}
	}

	.blocks_blue_middle_home{
		margin-left: 0!important;
    	padding: 2rem 15px !important;
	}

	.block-hero-slider .carousel-item{
		background: none !important;
	}
	header.head.headers{
		// position: relative;
		// top: inherit; left: inherit;
	}
	.block-hero-slider .carousel-item{
		.full-pict-mobile{
			img{
				height: 100vh;
			}
		}
		clear: both;
	}

	.container{
		padding: 0 20px !important;
	}
	.blocks_blue_middle_home{
		padding: 2rem 20px !important;
	}
	.socmed_ft{
		text-align: right;
	}
	footer.foot .inners p{
		font-size: 12px;
		b,strong{
			font-size: 14px;
		}
	}
	
}

@media screen and (max-width: 500px) {
	
}

