@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&display=swap');
// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:300,400,500,600,700&display=swap');
// font-family: 'PT Sans Caption', sans-serif;

@roboto : 'Roboto', sans-serif;
@encode : 'Encode Sans', sans-serif;

html,body{
    position: relative;
    overflow-x: hidden;
    background: #ffffff;
}

h1,h2,h3,h4,h5,h6,p, span,a, div{
    font-family: @roboto;
    margin: 0;
    margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: @roboto;
}

.prelative,
.prelatife{
    position: relative;
}
.container{
    padding: 0;
    max-width: 1361px;
    margin: 0 auto;
    position: relative;
}

.block-hero-slider{
    display: block;
    z-index: 5;
    .carousel-item {
      height: 100vh;
      min-height: 350px; width: 100%;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .carousel{
        .carousel-caption{
            h4, p{
                display: block;
                margin: 0; padding: 0; line-height: 1;
            }
            h4{
                font-size: 46px; font-weight: 700; color: #fff;
                line-height: 1;
                margin-bottom: 0.5rem;
            }
            p{
                font-family: @encode;
                font-size: 19px; font-weight: 600; color: #fff;
                line-height: 1.4;
                margin-bottom: 1.2rem;
            }
            max-width: 600px;
            bottom: 30%;
        }
        clear: both;
    }
    
    .nav_btms_slide{
        ul{
            li{
                a{
                    font-family: @roboto;
                    font-size: 22px; font-weight: 700; color: #fff;
                }
                border-right: 1px solid #fff;
                width: 24.7%;
                // height: 126px;
                margin: 0;
                text-align: center;
                padding: 2.9rem 0;
                float: left;
            }
            li:first-child{
                border-left: 1px solid #fff;   
            }
            li.active,
            li:hover,
            li:focus{
                a{
                    text-decoration: none;
                    color: #f5f5f5;
                }
                background: url('../images/backs_nav-slidetop.png') no-repeat;
                background-size: cover;
            }
            padding: 0;
            list-style: none;
            margin: 0;
        }
        position: absolute;
        bottom: 0px; left: 0px; 
        z-index: 75; width: 100%;
        border-top: 1px solid #fff;
        clear: both;
    }
    clear: both;
}

.blocks_btn_to_scroll{
    // display: none;
    
    position: absolute;
    bottom: 25px; left: 0;
    z-index: 25;
    width: 100%;
    background-color: #fff;
}

.t-backtop{
    position: fixed;
    bottom: 0; right: 0;
    z-index: 7;
    background-color: #fff;
    padding: 0.25rem 0.45rem;
}

header.head.headers.insides_pg{
    position: relative;
    top: inherit; left: inherit;
}
header.head.headers{
    position: absolute;
    top: 0px; left: 0;
    width: 100%; z-index: 150;

    background-color: #ffffff;
    padding-top: 3rem;
    height: 140px;

    .logo_heads{
        img.img.img-fluid{}
    }
    .menu-top{
        .list-inline{
            padding-top: 0.7rem;
            margin: 0;
            li{
                margin-right: 1.2rem;
                a{
                    font-size: 16px;
                    color: rgba(0,0,0, 0.65);
                    font-weight: 500;
                }
            }
            li.active,
            li:hover{
                a{
                    color: #000;
                    text-decoration: none;
                }
            }
            li.item_wa{
                a{
                    color: #000;
                }
                i.fa{
                    font-size: 22px; color: #000;
                }
            }
        }
    }

    clear: both;
}

a.btn.btns_mores_defaultred{
    background: none;
    box-shadow: none; border: 0px;

    background-color: #990000;
    padding: 0.35rem 2rem;

    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

section.home-section1{
    h2, p{
        display: block;
        margin: 0; padding: 0;
    }
    .lefts_cotnent{
        h2.ntitle{
            font-size: 40px; font-weight: 700; color: #a80300; line-height: 1;
        }
    }
    .rights_content{
        p{
            font-family: @encode;
            font-size: 19px; font-weight: 500; color: #818181;
            line-height: 1.55;
        }

        .banners_img{
            .pict{
                img{}
            }
            .info{
                padding-top: 0.6rem;
                h6, p{
                    display: block;
                    margin: 0; padding: 0; line-height: 1.25;
                }
                h6{
                    font-family: @encode;
                    font-size: 24px; font-weight: 500; color: #818181; 
                    padding-bottom: 0.5rem;
                }
                p{
                    font-family: @encode;
                    font-size: 14px; font-weight: 500; color: #818181; 
                }
                clear: both;
            }
            clear: both;
        }

        clear: both;
    }
    clear: both;
}

.bloks-fetchs{
    .in-texts{
        h4, p{
            display: block;
            margin: 0; padding: 0; line-height: 1.3;
        }
        h2.ntitle{
            font-size: 40px; font-weight: 700; color: #a80300; line-height: 1;
        }
        h4{
            font-weight: 700;
            font-size: 40px; color: #a80300;
        }
        p{
            display: block;
            font-family: @encode;
            font-size: 19px;
            font-weight: 500;
            color: #818181;
            line-height: 1.55;
        }
        max-width: 550px;
    }
}
.blocks_blue_middle_home{
    .inner{
        .in-texts{
            h4, p{
                display: block;
                margin: 0; padding: 0; line-height: 1.3;
            }
            h2.ntitle{
                font-size: 40px; font-weight: 700; color: #a80300; line-height: 1;
            }
            .nav_cols_jq{
                a{
                    i.fa{
                        color: #3d64a0;
                        font-size: 19px;
                    }
                    color: #3d64a0; text-decoration: none;
                }
            }
            h4{
                font-weight: 700;
                font-size: 40px; color: #a80300;
            }
            p{
                font-size: 21px; font-weight: 500; color: #b6b6b6;
            }
            max-width: 550px;
        }
        .picts_gallery{
            ul{
                li{
                    float: left;
                    .pict{
                        img{}
                    }
                    .info{
                        p{
                            font-size: 16px; font-weight: 500; color: #fff;
                        }
                        padding: 0.7rem 0;
                    }
                }
                margin: 0;
            }
            // position: absolute;
            // left: 0;
            // top: 0;
            // width: 150%;
            margin: 0;
        }
        margin-top: 5%;
        position: relative;
    }
    
    // width: 100%; 
    // height: 703px;
    // background: url('../images/backs_section2_in.jpg') no-repeat;
    // background-size: cover;
    // position: relative;
    
    z-index: 7;
    clear: both;
}

a.custom_btns_def.n_fcs{
    width: 212px;
    text-align: left;
    position: relative;
    i.fa{
        position: absolute;
        right: 15px;
    }
}
a.custom_btns_def{
    i.fa{
        font-size: 18px; 
        // color: #3d64a0;
        color: #fff;
        display: inline-block;
        margin-left: 1rem;
    }
    font-family: @roboto; font-size: 16px; font-weight: 500; color: #fff;

    border-radius: 0; 
    padding: 0.95rem 1.36rem;
    border: 1px solid #fff;
    background-color: #a80300;
}

a.custom_btns_def:focus,
a.custom_btns_def:hover{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    background-color: #940502;
}


// footer
section.home-sectionfooter{
    .inners{
        .rights_content{
            h3.ntitle{
                font-size: 40px; font-weight: 700; color: #a80300;
            }
            p{
                font-family: @encode; font-size: 20px; font-weight: 500; color: #818181;
                line-height: 1.4;
            }

            .nx-texts{
                .icon{
                    i.fa{
                        color: #000; font-size: 22px;
                    }
                }
                p{
                    font-size: 16px; font-weight: 500; color: #4c4c4c;
                    a{
                      font-size: 16px; font-weight: 500; color: #4c4c4c;  
                    }
                }
            }
        }
    }
    background: url('../images/back-footer_cont1.jpg') no-repeat;
    width: 100%;
    min-height: 500px; height: auto;
    clear: both;
}

footer.foot{
    .inners{
        .lgo_footers{
            img{}
        }
        .socmed_ft{
            ul{
                li{
                    font-size: 20px; color: #fff;
                    a{
                        i.fa{
                            font-size: 20px; color: #fff;
                        }
                    }
                }
            }
        }
        p{
            strong, b{
                font-weight: 900;
                font-size: 16px;
            }
            font-size: 14px; font-weight: 400; color: rgba(218, 218, 218, 0.65);
        }
        ul.sub-footers{
            li{
                a{
                    font-size: 16px; font-weight: 400;
                    color: rgba(218, 218, 218, 0.65);
                }
            }
        }
        p.copyrights{
            font-size: 13px; font-weight: 300;
            color: rgba(218, 218, 218, 0.65);
            a{
                text-decoration: none;
                color: rgba(218, 218, 218, 0.65);
            }
        }

    }
    min-height: 200px; height: auto; width: 100%;
    background: url('../images/backs_footer_bnblue.jpg') no-repeat;
    background-size: cover;
    clear: both;
}

@import 'subpage.less';
@import 'n_media_styles.less';