@roboto : 'Roboto', sans-serif;
@encode : 'Encode Sans', sans-serif;

.outers-coverpage{

	.images_cover{}
	.pos_abs_middles_text{
		.texts_block{
			h1, h2, p{
				display: block;
				margin: 0; padding: 0; line-height: 1.2;
				color: #fff;
			}
			h1.title_page{
				font-family: @roboto;
				font-size: 46px; font-weight: 700; color: #fff;
				padding-bottom: 1rem;
			}
			p{
				font-family: @encode;
				font-size: 18px; font-weight: 600; color: #fff;
				line-height: 1.55;
			}
		}
		position: absolute;
		top: 30%; left: 0px;
		width: 100%; height: auto;
	}

	.bloc_post_breadcrumb{
		position: absolute;
		bottom: 1rem;
		left: 0;
		z-index: 15;
		width: 100%;
		height: 4%;
		ol.breadcrumb{
			background-color: transparent;
			padding: 0;
			margin: 0;
			border-radius: 0;
			li{
				font-family: @roboto; font-size: 16px; font-weight: 600; color: rgba(255,255,255, 0.65);
				a{
					font-family: @roboto; font-size: 16px; font-weight: 600; color: rgba(255,255,255, 0.65);
					text-decoration: none;
				}
				i.fa{
					color: #fff;
				}
			}
		}
	}
	position: relative;
	z-index: 5;
}



.content-text{
	h1, h2, h3, h4, h5, h6{
		display: block;
		margin: 0; padding: 0;
		line-height: 1.3;
		margin-bottom: 1.3rem;
		font-family: @encode;
	}
	p, ul li, span{
		font-family: @encode;
	}

	h2{
		font-size: 40px;
		font-weight: 700;
		color: #a80300;
		margin-bottom: 1.3rem;
	}
	h2.title_red{
		font-family: @roboto;
		font-weight: 700;
		color: #a80300;
		font-size: 40px;
	}

	h3{
		font-family: @encode;
		font-size: 29px;
		font-weight: 500;
		color: #818181;
		text-transform: inherit;
		margin-bottom: 1.5rem;
		line-height: 1.55;
	}

	p{
		font-size: 19px;
		font-weight: 500;
		color: #818180;
		line-height: 1.5;
		margin-bottom: 1.5rem;
		a{
			color: #818180;
			font-weight: 700;
			text-decoration: underline;
		}
		a:hover,
		a:focus{
			text-decoration: none;
			color: #2F2F2F;
		}
	}

	ol,
	ul{
		li{
			font-size: 17px;
			font-weight: 500;
			color: #818180;
		}
	}

}

.about_content2{
	background: url('../images/about-backs-2.jpg') no-repeat;
	width: 100%;
	min-height: 1050px;
	height: auto;
	h2.title_red{
		font-size: 39px;
	}
	h4.title_visi{
		font-family: @encode;
		font-weight: 300; color: #fff;
		font-size: 54px;
	}
	p{
		font-family: @encode; font-size: 21px; font-weight: 500; color: #fff;
	}
	clear: both;
}
.spacer_about_vision{
	height: 35rem;
}


.lists_thumbs_service_icon{
	.items{
		.pict{
			img{}
		}
		.info{
			padding-top: 1.5rem;
			h5{
				display: block;
				margin: 0; padding: 0; line-height: 1.2;
				font-family: @encode;
				margin-bottom: 0.5rem;
				font-size: 21px; font-weight: 700; color: #a80300;
			}
			p{
				font-family: @encode; line-height: 1.4;
				font-size: 19px; font-weight: 500; color: #818181;
			}
		}
		clear: both;
		
		max-width: 380px; 
		margin: 0 auto;
	}
	clear: both;
}

.pictures_services{
	img{
		-webkit-box-shadow: 4px 4px 24px 0px rgba(50, 50, 50, 0.48);
		-moz-box-shadow:    4px 4px 24px 0px rgba(50, 50, 50, 0.48);
		box-shadow:         4px 4px 24px 0px rgba(50, 50, 50, 0.48);
	}
	position: absolute;
	left: 0px; top: 0;
}
.rights_services{
	p{
		font-size: 29px; font-weight: 500;
		font-family: @encode;
		color: #818181;
	}
	p.btm{
		font-size: 20px;
		color: #818181;
	}
	table{
		td{
			border: 0;
			font-family: @encode;
			font-size: 19px; font-weight: 500; color: #818181;
			b, strong{
				font-weight: 700;
				color: #818181;
			}
			padding-bottom: 0;
		}
	}
}

.service_content2{
	background-color: #0e1622;
	clear: both;
}

.lists_serv_solutions{
	.items{
		.pict{
			img{
				width: 100%;
			}
		} 
		.descs{
			padding: 2.5rem 0.2rem;
			max-width: 285px;
			h5, p{
				display: block;
				margin: 0; padding: 0; line-height: 1.4;
			}
			h5{
				font-size: 20px; font-weight: 700; color: #fff; line-height: 1;
				margin-bottom: 1.5rem;
			}
			p{
				font-size: 18px; font-weight: 500; color: #fff; line-height: 1.4;
			}

		}
		background-color: #000;
		margin-bottom: 2.5rem;
	}
}

.blockts_n_icon{
	i.fa{
		font-size: 30px;
		color: #333333;
	}
	p{
		margin: 0;
		font-size: 17px; font-weight: 500; color: #818181;
		margin-bottom: 2rem;
	}
}

.box-form.tl-contact-form{
	.form-group{
		textarea,
		input{
			border: 1px solid #a1a1a1;
			border-radius: 0;
			font-size: 19px; font-weight: 500; color: #818181;
			padding-top: 0.5rem; padding-bottom: 0.5rem;
		}
	}
	button.btns-submit-bt{
		background: url('../images/backs-btn_submits_cont.jpg') no-repeat;
		width: 212px; height: 58px;
	}
	clear: both;
}

.prelatife{
	position: relative;
}

.outer-blok-black-menuresponss-hides{
    display: none;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 7000;
    background-color: #fff;

    width: 100%;
    height: 100%;
    .line-separate{
    	background-color: #dadada;
    	height: 1px;
    	width: 200px;
    }
}
.menu-sheader-datals{ text-align: center; }
.menu-sheader-datals ul{ margin: 0px; padding: 0px; }
.menu-sheader-datals ul li{ padding: 0.1em 0px; position: relative; }
.menu-sheader-datals ul li.separate{
    padding: 0px; margin: 0 auto;
    background-color: rgba(255,255,255, 0.1);
    width: 17px; height: 1px;
}
.menu-sheader-datals ul li a{ font-size: 20px; letter-spacing: 0px; font-weight: 700; color: #797979; }
.menu-sheader-datals ul li a:focus,
.menu-sheader-datals ul li a:hover{
    color: #797979; text-decoration: none;
}
.menu-sheader-datals ul.n_menu2{
	li{
		a{
			font-weight: 500;
		}
	}
}

section.about_content3.backs_black{
	border-top: 10px solid #0e1623;
}