{% extends 'layouts/main.twig' %}
{% block maincontent %}
<body data-spy="scroll" id="page-top">
		<div class="wrapper prelatif">
			{% include "/layouts/header.twig" with { 'menu': block('menu') } %}
			<div class="block-hero-slider prelatife">
				
				<div id="examp_slide" class="carousel slide" data-ride="carousel" data-interval="4500">
				  <div class="carousel-inner">
				    
				    <div class="carousel-item active" style="background-image: url('{{ app.request.baseurl }}/asset/images/slide-1.jpg');">
						<div class="full-pict-mobile d-block d-sm-none">
						<img src="{{ app.request.baseurl }}/asset/images/slide-mob-1.jpg" alt="" class="img img-fluid">
						</div>
				      <div class="carousel-caption text-left">
				      	<div class="blokcs_full_captionwrap wow fadeInDown">
				      		<h4>Bitumen Supply</h4>
				      		<div class="py-1"></div>
				      		<p>COSMIC BMM is capable to secure a reliable and sustainable supply of Bitumen to the whole nation of Indonesia and overseas.</p>
				      		<div class="py-2"></div>
				      		<a href="{{ path('service', {lang: lang_active}) }}" class="btn btn-link custom_btns_def n_fcs">Our Services &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
				      	</div>
				      </div>
				    </div>
				    <div class="carousel-item" style="background-image: url('{{ app.request.baseurl }}/asset/images/fcs-02.jpg');">
				    	<div class="full-pict-mobile d-block d-sm-none">
						<img src="{{ app.request.baseurl }}/asset/images/slide-mob-2.jpg" alt="" class="img img-fluid">
						</div>
				      <div class="carousel-caption text-left">
				      	<div class="blokcs_full_captionwrap wow fadeInDown">
				      		<h4>Bitumen Project Contracting</h4>
				      		<div class="py-1"></div>
				      		<p>Cosmic BMM provides comprehensive contracting services such as project planning, bitumen procurement, strategy implementation in project site, handing over in accordance to the target.</p>
				      		<div class="py-2"></div>
				      		<a href="{{ path('service', {lang: lang_active}) }}" class="btn btn-link custom_btns_def n_fcs">Our Services &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
				      	</div>
				      </div>
				    </div>
				    <div class="carousel-item" style="background-image: url('{{ app.request.baseurl }}/asset/images/fcs-03.jpg');">
				    	<div class="full-pict-mobile d-block d-sm-none">
						<img src="{{ app.request.baseurl }}/asset/images/slide-mob-3.jpg" alt="" class="img img-fluid">
						</div>
				      <div class="carousel-caption text-left">
				      	<div class="blokcs_full_captionwrap wow fadeInDown">
				      		<h4>Bitumen Project Consulting</h4>
				      		<div class="py-1"></div>
				      		<p>Professional consulting services regarding any kind of bitumen project will be your helpful insights and assets in successfully completing a bitumen project with excellence.</p>
				      		<div class="py-2"></div>
				      		<a href="{{ path('service', {lang: lang_active}) }}" class="btn btn-link custom_btns_def n_fcs">Our Services &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
				      	</div>
				      </div>
				    </div>
				    <div class="carousel-item" style="background-image: url('{{ app.request.baseurl }}/asset/images/fcs-04.jpg');">
				      <div class="full-pict-mobile d-block d-sm-none">
						<img src="{{ app.request.baseurl }}/asset/images/slide-mob-4.jpg" alt="" class="img img-fluid">
						</div>
				      <div class="carousel-caption text-left">
				      	<div class="blokcs_full_captionwrap wow fadeInDown">
				      		<h4>Bitumen Project Maintenance</h4>
				      		<div class="py-1"></div>
				      		<p>Cosmic BMM can be your partner for after sales, handling the project maintenance for project sustainability.</p>
				      		<div class="py-2"></div>
				      		<a href="{{ path('service', {lang: lang_active}) }}" class="btn btn-link custom_btns_def n_fcs">Our Services &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
				      	</div>
				      </div>
				    </div>

				  </div>
				</div>

				<div class="nav_btms_slide d-none">
					<div class="prelatife container">
						<ul class="list-inline wow fadeIn">
							<li class="list-inline-item data-1 active"><a data-id="0" href="javascript:;">Bitumen Supply</a></li>
							<li class="list-inline-item data-2"><a data-id="1" href="javascript:;">Bitumen Project Contracting</a></li>
							<li class="list-inline-item data-3"><a data-id="2" href="javascript:;">Bitumen Project Consulting</a></li>
							<li class="list-inline-item data-4"><a data-id="3" href="javascript:;">Bitumen Project Maintenance</a></li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			{% block content %}{% endblock %}
			{% include "/layouts/footer.twig" %}
		</div>
</body>
{% endblock %}