<footer class="foot py-5">
	<div class="prelatife container">
		<div class="inners wow fadeInUp">
			<div class="row">
				<div class="col-md-15 col-30">
					<div class="lgo_footers"><a href="{{ path('homepage', {lang: lang_active}) }}"><img src="{{ app.request.baseurl }}/asset/images/lgn-bfooters.jpg" alt="" class="img img-fluid"></a></div>
				</div>
				<div class="col-md-30 d-none d-sm-block"></div>
				<div class="col-md-15 col-30">
					<div class="socmed_ft">
						<ul class="list-inline m-0 ">
							{# <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li> #}
							<li class="list-inline-item"><a href="https://wa.me/628116914798"><i class="fa fa-whatsapp"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="py-2 d-none d-sm-block"></div>
			<div class="row">
				<div class="col-md-15">
					<div class="address_company">
						<p><b>Head Office</b><br>
						Jl. Raya Sukomulyo, Manyar. <br>
						Gresik, East Java. <br>
						Indonesia</p>
					</div>
				</div>
				<div class="col-md-30">
					<p><b>Quick LInks</b></p>
					<ul class="list-inline m-0 sub-footers">
						<li class="list-inline-item"><a href="{{ path('homepage', {lang: lang_active}) }}">Home</a></li>
						<li class="list-inline-item"><a href="{{ path('service', {lang: lang_active}) }}">Services</a></li>
						<li class="list-inline-item"><a href="{{ path('facility', {lang: lang_active}) }}">Facilities</a></li>
						<li class="list-inline-item"><a href="{{ path('about', {lang: lang_active}) }}">About Us</a></li>
						<li class="list-inline-item"><a href="{{ path('contact', {lang: lang_active}) }}">Inquire Now</a></li>
					</ul>
				</div>
				<div class="col-md-15">
					<div class="d-none d-sm-block">
						<p>&nbsp;</p>
					</div>
					<p class="copyrights">
						Copyright &copy; Cosmic BMM 2020, All rights reserved. <br>
						Website design by <a target="_blank" title="Website Design Surabaya" href="https://www.markdesign.net/">Mark Design</a>.
					</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</footer>

<section class="nfoot_mob_wa d-block d-sm-none">
    <div class="row">
        <div class="col-md-60">
            <div class="nx_button">
                <a href="http://api.whatsapp.com/send?phone=628126449746">Whatsapp <i class="fa fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
</section>