{# {{ current_page_name }} #}
<header class="head headers {% if (current_page_name != '/cbmm/') %}insides_pg{% endif %}" data-id-page="{{ current_page_name }}">
	<div class="prelatife container d-none d-sm-block">
		<div class="inner_header wow fadeInUp">
			<div class="row">
				<div class="col-md-35">
					<div class="logo_heads d-inline-block align-middle mr-5"><a href="{{ path('homepage', {lang: lang_active}) }}"><img src="{{ app.request.baseurl }}/asset/images/logo-head.jpg" alt="Cosmic BMM" class="img img-fluid"></a></div>
					<div class="d-inline-block menu-top align-middle">
						<ul class="list-inline">
							<li class="list-inline-item"><a href="{{ path('service', {lang: lang_active}) }}">Services</a></li>
							<li class="list-inline-item"><a href="{{ path('facility', {lang: lang_active}) }}">Facilities</a></li>
							<li class="list-inline-item"><a href="{{ path('about', {lang: lang_active}) }}">About Us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-25">
					<div class="d-inline-block menu-top align-middle text-right float-right">
						<ul class="list-inline">
							<li class="list-inline-item"><a href="{{ path('contact', {lang: lang_active}) }}">Inquire Now</a></li>
							<li class="list-inline-item item_wa"><a href="https://api.whatsapp.com/send?phone=628116914798">Whatsapp Chat Now &nbsp;&nbsp;&nbsp;<i class="fa fa-whatsapp"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="d-block d-sm-none">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="{{ path('homepage', {lang: lang_active}) }}"><img src="{{ app.request.baseurl }}/asset/images/logo-head.jpg" alt="Cosmic BMM" class="img img-fluid"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item"><a class="nav-link" href="{{ path('homepage', {lang: lang_active}) }}">Home</a></li>
		      <li class="nav-item"><a class="nav-link" href="{{ path('service', {lang: lang_active}) }}">Services</a></li>
		      <li class="nav-item"><a class="nav-link" href="{{ path('facility', {lang: lang_active}) }}">Facilities</a></li>
		      <li class="nav-item"><a class="nav-link" href="{{ path('about', {lang: lang_active}) }}">About Us</a></li>
		      <li class="nav-item"><a class="nav-link" href="{{ path('contact', {lang: lang_active}) }}">Inquire Now</a></li>
		    </ul>
		  </div>
		</nav>
	</div>
</header>