{% extends layout %}
{% block title %}{{ lang_message.about|title }} - {% endblock %}
{% block menu %}about{% endblock %}
{% block content %}
	
	<section class="outers-coverpage prelatife pg-about">
		<div class="images_cover">
			<img src="{{ app.request.baseurl }}/asset/images/cover-about.jpg" alt="" class="img img-fluid">
		</div>
		<div class="pos_abs_middles_text">
			<div class="prelatife container">
				<div class="texts_block text-left wow fadeInDown">
					<div class="row">
						<div class="col-md-25">
							<h1 class="title_page">About Us</h1>
							<p>CosmicBMM is  A joint venture of Hin Hin Group (Singapore) and PT. Berkah Mulia Mandiri that synergy each other to contribute road connecting infrastructure construction in Indonesia.</p>
						</div>
						<div class="col-md-35"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="bloc_post_breadcrumb">
			<div class="prelatife container">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb wow fadeInDown">
				    <li class="breadcrumb-item"><a href="{{ path('homepage', {lang: lang_active}) }}"><i class="fa fa-home"></i> &nbsp;&nbsp;Home</a></li>
				    <li class="breadcrumb-item active" aria-current="page">About Us</li>
				  </ol>
				</nav>
			</div>
		</div>
		<div class="clear"></div>
	</section>

	{# about 1 #}
	<section class="about_content1 py-5 back-white">
		<div class="prelatife container">
			<div class="inners_middle content-text pt-4 pb-3 wow fadeInDown">
				<h2 class="title_red">CosmicBMM is  A joint venture of Hin Hin Group (Singapore) and PT. Berkah Mulia Mandiri that synergy each other to contribute road connecting infrastructure construction in Indonesia.</h2>
				<div class="row">
					<div class="col-md-30">
						<h3>Cosmic BMM terminal is a 100,000 DWT multi-product complex especially in Asphalt Products storage and distribution. It is built to international safety standards with capabilities for break-bulking to vessels and trucks.</h3>
					</div>
					<div class="col-md-30">
						<p>The terminal sits inside Maspion Industrial Estate located in Manyar, Gresik, and comes with jetty to facilitate loading and discharging operations. Here, Cosmic BMM supports road infrastructure construction industries with the storage facility of Asphalt Products.</p>
					</div>
				</div>
				<div class="clear clearfix"></div>
			</div>
			<div class="clear"></div>
		</div>
	</section>

	{# about 2 #}
	<section class="about_content2 py-5 back-white">
		<div class="prelatife container">
			<div class="spacer_about_vision"></div>
			<div class="inners_middle content-text pt-4 pb-3 wow fadeInDown">
				<h2 class="title_red">Our Vision & Mission</h2>
				<div class="row">
					<div class="col-md-30">
						<h4 class="title_visi">Vision</h4>
						<p>To be the leader of advanced knowledge and technology in Bitumen industry, a world benchmark of quality professional and committed personnels as well as the policy to preserve the environment. </p>
					</div>
					<div class="col-md-30">
						<h4 class="title_visi">Mission</h4>
						<p>To provide the leadership advantage that comes from combined experience of Cosmic & BMM, transforming the Asian Bitumen Industry. Committed in creating globally recognized standards with the needs of future generations in mind. A future of the better Asia, underpinned by the consistent set of values.</p>
					</div>
				</div>
				<div class="clear clearfix"></div>
			</div>
			<div class="py-2"></div>
			<div class="clear"></div>
		</div>
	</section>
	<div class="fulls_banner d-block d-sm-none"><img src="{{ app.request.baseurl }}/asset/images/backs_aboutvisi_banner.jpg" alt="" class="img img-fluid"></div>

	{# about 2 #}
	<section class="about_content3 py-5 back-white">
		<div class="prelatife container">
			<div class="inners_middle content-text pt-4 pb-3 wow fadeInDown">
				<h2 class="title_red">Our Partners</h2>
				<div class="row">
					<div class="col-md-30">
						<h3>Combined together, Cosmic BMM has partnered with more than 150 local and national companies.</h3>
					</div>
					<div class="col-md-30">
						<p>As a trusted supplier in the existing independent corporate, now together we are even better. We will provide quality bitumen solutions that consistently deliver positive returns to our partners and clients.</p>
					</div>
				</div>
				
				<div class="py-4 d-none d-sm-block"></div>

				<div class="fulls_pg">
					<div class="d-none d-sm-block">
						<img src="{{ app.request.baseurl }}/asset/images/lists_logo-about.jpg" alt="" class="img img-fluid">
					</div>
					<div class="d-block d-sm-none">
						<img src="{{ app.request.baseurl }}/asset/images/lists_logo-about_mobile.jpg" alt="" class="img img-fluid">
					</div>
				</div>
				<div class="clear clearfix"></div>
			</div>
			<div class="clear"></div>
		</div>
	</section>

{% endblock %}
