{% extends layout %}
{% block title %}Contact Us - {% endblock %}
{% block menu %}contact{% endblock %}
{% block content %}
	
	<section class="outers-coverpage prelatife pg-contact">
		<div class="images_cover">
			<img src="{{ app.request.baseurl }}/asset/images/cover-inquire.jpg" alt="" class="img img-fluid">
		</div>
		<div class="pos_abs_middles_text">
			<div class="prelatife container">
				<div class="texts_block text-left wow fadeInDown">
					<div class="row">
						<div class="col-md-25">
							<h1 class="title_page">Inquire Now</h1>
							<p>COSMIC BMM the leading joint-venture bitumen distribution company between Singapore (Cosmic) & Indonesia (BMM).</p>
						</div>
						<div class="col-md-35"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="bloc_post_breadcrumb">
			<div class="prelatife container">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb wow fadeInDown">
				    <li class="breadcrumb-item"><a href="{{ path('homepage', {lang: lang_active}) }}"><i class="fa fa-home"></i> &nbsp;&nbsp;Home</a></li>
				    <li class="breadcrumb-item active" aria-current="page">Inquire Now</li>
				  </ol>
				</nav>
			</div>
		</div>
		<div class="clear"></div>
	</section>

	{# about 1 #}
	<section class="about_content1 py-5 back-white">
		<div class="prelatife container">
			<div class="inners_middle content-text pt-4 pb-3 wow fadeInDown">
				<h2 class="title_red">PT. Cosmic Berkah Mulia Mandiri Online Inquiry Form</h2>
				<div class="py-3"></div>
				<div class="row">
					<div class="col-md-20">

						<div class="blockts_n_icon">
							<div class="row">
								<div class="col-8">
									<i class="fa fa-map-marker"></i>
								</div>
								<div class="col">
									<p>Jl. Beta Kawasan Industri Maspion<br>Sukomulyo, Gresik<br>Indonesia</p>
								</div>
							</div>
							<div class="row">
								<div class="col-8">
									<i class="fa fa-phone"></i>
								</div>
								<div class="col">
									<p><a href="tel:62317497990">+62 31 7497990/1</a></p>
								</div>
							</div>
							<div class="row">
								<div class="col-8">
									<i class="fa fa-whatsapp"></i>
								</div>
								<div class="col">
									<p><a href="https://api.whatsapp.com/send?phone=628116914798">+62 811 691 4798</a> (Whatsapp)</p>
								</div>
							</div>
							<div class="row">
								<div class="col-8">
									<i class="fa fa-envelope"></i>
								</div>
								<div class="col">
									<p><a href="mailto:info@cbmm.id">info@cbmm.id</a></p>
								</div>
							</div>
							
							<div class="clear"></div>
						</div>
						{# end blocks icon #}

					</div>
					<div class="col">
						
						{# start form #}
						<div class="box-form tl-contact-form">
						<div class="insides">
							{# {% if (error|length > 0) %}
							    <div class="alert alert-danger bg-danger">
							    	<button type="button" class="close" data-dismiss="alert">&times;</button>
								    <h6>Please fix the following input errors:</h6>
								    <ul>
								    	{% for dataError in error %}
								    	<li>{{ dataError }}</li>
								    	{% endfor %}
								    </ul>
							    </div>
							{% endif %} #}
							<div style="max-width:500px; margin:0 auto;">
								{% if msg == 'error_message' %}
								    <div class="alert alert-danger">
								    	<button type="button" class="close" data-dismiss="alert">&times;</button>
									    Please Check Captcha for sending contact form! 
								    </div>
								{% endif %}
								{% if msg == 'success' %}
								    <div class="alert alert-success">
								    	<button type="button" class="close" data-dismiss="alert">&times;</button>
									    Thank you for contacting us! we will respond to you shortly.
								    </div>
								{% endif %}
							</div>
							<form method="post" action="" role="form">
							
								<div class="form-group">
								    <input type="text" name="Contact[name]" class="form-control" id="exampleInputName" placeholder="Name" required>
								</div>

								<div class="form-group">
								    <input type="text" name="Contact[email]" class="form-control" id="exampleInputName" placeholder="Email" required>
								</div>
								<div class="form-group">
								    <input type="text" name="Contact[company]" class="form-control" id="exampleInputName" placeholder="Company" required>
								</div>
								<div class="form-group">
								    <input type="text" name="Contact[phone]" class="form-control" id="exampleInputName" placeholder="Contact Number" required>
								</div>
								<div class="form-group">
								    <textarea name="Contact[address]" rows="3" class="form-control" placeholder="Address" required></textarea>
								</div>

								<div class="form-group">
								    <textarea name="Contact[message]" rows="3" class="form-control" placeholder="Your Comment" required></textarea>
								</div>

								<div class="row default">
									<div class="col">
										<div class="form-group mb-0">
											<div class="fleft"> 
												<div class="g-recaptcha" data-sitekey="6LdvsxwUAAAAACn8ARbRFEUj8ku-PwZVnf3KvRNg"></div>
											</div>
											<div class="clear"></div>
										</div>
									</div>
									<div class="col">
										<div class="fright">
											<div class="clear height-2"></div>
											<button type="submit" class="btn btn-default btns-submit-bt"></button>
										</div>
									</div>
								</div>
								<div class="clear"></div>
							</form> 
							<div class="py-3"></div>
							<div class="clear"></div>
						</div>
					</div>

					<script src='https://www.google.com/recaptcha/api.js'></script>
						{# end form #}

					</div>
				</div>
				<div class="clear clearfix"></div>
			</div>
			<div class="clear"></div>
		</div>
	</section>

{% endblock %}
