{% extends layout %}
{% block title %}Facilities - {% endblock %}
{% block menu %}facility{% endblock %}
{% block content %}
	
	<section class="outers-coverpage prelatife pg-service">
		<div class="images_cover">
			<img src="{{ app.request.baseurl }}/asset/images/cover-facilities.jpg" alt="" class="img img-fluid">
		</div>
		<div class="pos_abs_middles_text">
			<div class="prelatife container">
				<div class="texts_block text-left wow fadeInDown">
					<div class="row">
						<div class="col-md-25">
							<h1 class="title_page">Facilities</h1>
							<p>CosmicBMM is  A joint venture of Hin Hin Group (Singapore) and PT. Berkah Mulia Mandiri that synergy each other to contribute road connecting infrastructure construction in Indonesia.</p>
						</div>
						<div class="col-md-35"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="bloc_post_breadcrumb">
			<div class="prelatife container">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb wow fadeInDown">
				    <li class="breadcrumb-item"><a href="{{ path('homepage', {lang: lang_active}) }}"><i class="fa fa-home"></i> &nbsp;&nbsp;Home</a></li>
				    <li class="breadcrumb-item active" aria-current="page">Facilities</li>
				  </ol>
				</nav>
			</div>
		</div>
		<div class="clear"></div>
	</section>

	{# about 1 #}
	<section class="facility_content1 pt-5 back-white">
		<div class="prelatife container">
			<div class="inners_middle content-text pt-4 pb-3 wow fadeInDown">
				<h2 class="title_red">Our Terminal</h2>
				<div class="py-4 my-2"></div>
				<div class="row">
					<div class="col-md-30 prelatife">
						<div class="pictures_services">
							<img src="{{ app.request.baseurl }}/asset/images/cepu-backliet.jpg" alt="" class="img img-fluid">
						</div>
						<div class="py-4 d-block d-sm-none"></div>
					</div>
					<div class="col-md-30">
						<div class="rights_services">
							<p class="mb-1">Cosmic BMM Gresik Bitumen Terminal</p>
							<p class="btm">Jetty Coordinate: S 07° 06' 41.10“/E 112° 39' 09.00"</p>
							<table class="table">
								<tr>
									<td><b>Capacity</b></td>
									<td>2unit x @4,200 m3</td>
								</tr>
								<tr>
									<td><b>Tank type</b></td>
									<td>mild steel</td>
								</tr>
								<tr>
									<td><b>Tank size</b></td>
									<td>4,200 m3</td>
								</tr>
								<tr>
									<td><b>Access</b></td>
									<td>truck and vessel</td>
								</tr>
								<tr>
									<td><b>Draught</b></td>
									<td>10.5m</td>
								</tr>
								<tr>
									<td><b>Berth for vessel</b></td>
									<td>1</td>
								</tr>
								<tr>
									<td><b>Produc</b></td>
									<td>asphalt bulk</td>
								</tr>
								<tr>
									<td><b>Discharge rate</b></td>
									<td>max. 200m3/hr</td>
								</tr>
								<tr>
									<td><b>Pressure</b></td>
									<td>8kg/cm2</td>
								</tr>
								<tr>
									<td><b>Heating typ</b></td>
									<td>Heat transfer oil</td>
								</tr>
								
							</table>
						</div>
					</div>
				</div>
				
				<div class="py-5 d-none d-sm-block"></div>
				<div class="py-3 d-block d-sm-none"></div>

				<div class="clear clearfix"></div>
			</div>
			<div class="clear"></div>
		</div>

		<div class="full_banners">
			<img src="{{ app.request.baseurl }}/asset/images/backs-btm_lefts_don.jpg" alt="" class="img img-fluid">
		</div>
	</section>

{% endblock %}
