{% extends layout %}
{% block title %}{% endblock %}
{% block menu %}homepage{% endblock %}
{% block content %}

<section class="home-section1 py-5">
	<div class="prelatife container">
		<div class="inners py-5 wow fadeInDown">
			<div class="row">
				<div class="col-md-20">
					<div class="lefts_cotnent">
						<h2 class="ntitle">About Cosmic BMM</h2>
					</div>
				</div>
				<div class="col-md-40">
					<div class="rights_content">
						<p>COSMIC BMM is a Singapore Indonesia leading joint-venture bitumen distribution company in Indonesia, offering Bitumen procurement - supply services and project contracting, consulting and maintenance. We ara capable to supply and work in mid to mega scale project throughout the whole nation of Indonesia and even overseas to Singapore, Malaysia and countries nearby. With decades of experience and our unique knowledge, we help customers to improve their operational efficiency, cut workflow time and increase productivity.</p>
						<div class="py-3"></div>
						<a href="{{ path('about', {lang: lang_active}) }}" class="btn btn-link custom_btns_def">More About Us &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="claer"></div>
		</div>
	</div>
</section>

<section class="bloks-fetchs">
	<div class="prelatife container">
		<div class="row wow fadeInDown">
			<div class="col-md-30 my-auto">
				<div class="in-texts">
					<h2 class="ntitle">Our Bitumen Facilities</h2>
					<div class="py-2"></div>
					<p>We have invested in large infrastructure facilities for the sustainability guarantee of bitumen supply stocks from various consumer demands. With strategic locations, Cosmic BMM is in better position to serve the needs of timely supply and transportation efficiency.</p>
					<div class="py-3 my-2"></div>

					<a href="{{ path('facility', {lang: lang_active}) }}" class="btn btn-link custom_btns_def">
						View Our Bitumen Facilities
						<i class="fa fa-long-arrow-right"></i>
					</a>
					<div class="clear"></div>
				</div>
			</div>	
			<div class="col-md-30">
				 <div class="picts_gallery">
				 	<img src="{{ app.request.baseurl }}/asset/images/backs_red_banner-coln1.jpg" alt="" class="img img-fluid">
				 </div>
			</div>
		</div>
	</div>

	{# <div class="row no-gutters">
		<div class="col-md-8"></div>
		<div class="col-md-52">
			<div class="blocks_blue_middle_home p-5 ml-2">
				<div class="inner wow fadeInDown">
					<div class="row">
						<div class="col-md-30 my-auto">
							<div class="in-texts ml-5">
								<h4>Our Bitumen Facilities</h4>
								<div class="py-2"></div>
								<p>We have invested in large infrastructure facilities for the sustainability guarantee of bitumen supply stocks from various consumer demands. With strategic locations, Cosmic BMM is in better position to serve the needs of timely supply and transportation efficiency.</p>
								<div class="py-3 my-2"></div>

								<a href="{{ path('facility', {lang: lang_active}) }}" class="btn btn-link custom_btns_def">
									View Our Bitumen Facilities
									<i class="fa fa-long-arrow-right"></i>
								</a>

								<div class="clear"></div>
							</div>
						</div>
						<div class="col-md-30">
							 <div class="picts_gallery mr-5">
							 	<img src="{{ app.request.baseurl }}/asset/images/backs_red_banner-coln1.jpg" alt="" class="img img-fluid">
							 </div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div> #}

</section>

<div class="py-5 my-1 d-none d-sm-block"></div>
<div class="py-3 my-2 d-block d-sm-none"></div>

<section class="home-sectionfooter py-5">
	<div class="prelatife container">
		<div class="inners py-4">
			<div class="py-4 d-none d-sm-block"></div>
			<div class="row">
				<div class="col-md-20">

				</div>
				<div class="col-md-40">
					<div class="rights_content wow fadeInDown">
						<h3 class="ntitle">Let’s Get In Touch</h3>
						<div class="py-2"></div>
						<div class="row">
							<div class="col">
								<p>We are here to help you with everything you need to know about Bitumen and our service information. Please feel free to contact us by your desired / prefered methods.</p>
							</div>
							<div class="col-md-15">
								<a href="{{ path('contact', {lang: lang_active}) }}" class="btn btn-link custom_btns_def n_fcs">Inquire Now &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="py-3"></div>
						<div class="row">
							<div class="col-md-15 col-30">
								<div class="nx-texts">
									<div class="icon d-inline-block mr-2 align-top">
										<i class="fa fa-whatsapp"></i>
									</div>
									<div class="texts d-inline-block align-top">
										<p><a href="https://api.whatsapp.com/send?phone=628116914798">Whatsapp <br>
										   <b>0811-6914-798</b></a></p>
									</div>
								</div>
							</div>
							<div class="col-md-15 col-30">
								<div class="nx-texts">
									<div class="icon d-inline-block mr-2 align-top">
										<i class="fa fa-envelope"></i>
									</div>
									<div class="texts d-inline-block align-top">
										<p><a href="mailto:info@cbmm.id">Email <br>
										   <b>info@cbmm.id</b></a></p>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}