<p>Thank you for your interest in working with Boxer Paint. One of our representatives will get back to you in no time. Have a great day!</p>
<table>
	<tr> 
		<td>Name</td>
		<td>:</td>
		<td>{{ data.name }}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>:</td>
		<td>{{ data.email }}</td>
	</tr>
	<tr>
		<td>Phone</td>
		<td>:</td>
		<td>{{ data.phone }}</td>
	</tr>
	
</table>

<p>Copyright &copy; 2016.</p>