<table>
	<tr>
		<td>Name</td>
		<td>:</td>
		<td>{{ data.name }}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>:</td>
		<td>{{ data.email }}</td>
	</tr>
	<tr>
		<td>Phone</td>
		<td>:</td>
		<td>{{ data.phone }}</td>
	</tr>
	<tr>
		<td>Company</td>
		<td>:</td>
		<td>{{ data.company }}</td>
	</tr>
	<tr>
		<td>Address</td>
		<td>:</td>
		<td>{{ data.address }}</td>
	</tr>
	<tr>
		<td>City</td>
		<td>:</td>
		<td>{{ data.city }}</td>
	</tr>
	<tr>
		<td>Message</td>
		<td>:</td>
		<td>{{ data.message }}</td>
	</tr>
</table>

<p>Copyright &copy; 2017.</p>