{% extends layout %}
{% block title %}Services - {% endblock %}
{% block menu %}service{% endblock %}
{% block content %}
	
	<section class="outers-coverpage prelatife pg-service">
		<div class="images_cover">
			<img src="{{ app.request.baseurl }}/asset/images/cover-services.jpg" alt="" class="img img-fluid">
		</div>
		<div class="pos_abs_middles_text">
			<div class="prelatife container">
				<div class="texts_block text-left wow fadeInDown">
					<div class="row">
						<div class="col-md-25">
							<h1 class="title_page">Services</h1>
							{# <p>COSMIC BMM the leading joint-venture bitumen distribution company between Singapore (Cosmic) & Indonesia (BMM).</p> #}
							<p>CosmicBMM is the leading joint-venture bitument distribution between Singapore (HinHin Group) and Indonesia (BMM)</p>
						</div>
						<div class="col-md-35"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="bloc_post_breadcrumb">
			<div class="prelatife container">
				<nav aria-label="breadcrumb">
				  <ol class="breadcrumb wow fadeInDown">
				    <li class="breadcrumb-item"><a href="{{ path('homepage', {lang: lang_active}) }}"><i class="fa fa-home"></i> &nbsp;&nbsp;Home</a></li>
				    <li class="breadcrumb-item active" aria-current="page">Services</li>
				  </ol>
				</nav>
			</div>
		</div>
		<div class="clear"></div>
	</section>

	{# about 1 #}
	<section class="about_content1 py-5 back-white">
		<div class="prelatife container py-3">
			<div class="inners_middle content-text py-5 wow fadeInDown">
				<h2 class="title_red">Combined Expertise From Cosmic & BMM For Services That Benefits All Our Bitumen Project Customers</h2>
				<div class="py-2"></div>
				<div class="row">
					<div class="col-md-30">
						<h3>Cosmic BMM handles all kinds of project service where we will be responsible for procurement of specific bitumen & become your trusted and reliable operator and distributor.</h3>
					</div>
					<div class="col-md-30">
						<p>CBMM Terminal is situated at Maspion Industrial Estate, one of Indonesia’s largest bitumen storage facilities. We offer integrated logistics and supply chain support services. The strategic location of the Terminal provides smooth marine traffic movements for tankers that call at the Terminal. </p>
						<p>The Terminal caters to the storage, handling and blending requirements for Asphalt, and is designed for multi-berth discharge and loading operations.</p>
					</div>
				</div>
				<div class="clear clearfix"></div>
			</div>
			<div class="clear"></div>
		</div>
	</section>

	{# about 2 #}
	<section class="service_content2 py-5 back-white">
		<div class="prelatife container py-5">

			<div class="inners_middle content-text py-5">
				<h2 class="title_red wow fadeInDown">Cosmic BMM Services Solutions</h2>
				<div class="py-4"></div>

				<div class="lists_serv_solutions wow fadeInDown">
					<div class="row">
						<div class="col-md-30">
							<div class="items">
								<div class="row">
									<div class="col-md-30">
										<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/ban-service-itm3.jpg" alt="" class="img img-fluid"></div>
									</div>
									<div class="col-md-30">
										<div class="descs">
											<h5>Tank Lease & Rental</h5>
											<p>Short and long term lease, Project-based lease</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-30">
							<div class="items">
								<div class="row">
									<div class="col-md-30">
										<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/ban-service-itm2.jpg" alt="" class="img img-fluid"></div>
									</div>
									<div class="col-md-30">
										<div class="descs">
											<h5>Warehousing</h5>
											<p>We provide Store yard with shelter around 250m2 for drum storage.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-30">
							<div class="items">
								<div class="row">
									<div class="col-md-30">
										<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/ban-service-itm1.jpg" alt="" class="img img-fluid"></div>
									</div>
									<div class="col-md-30">
										<div class="descs">
											<h5>Blending</h5>
											<p>Provide kinds of asphalt emulsion production.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-30">
							<div class="items">
								<div class="row">
									<div class="col-md-30">
										<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/ban-service-itm4.jpg" alt="" class="img img-fluid"></div>
									</div>
									<div class="col-md-30">
										<div class="descs">
											<h5>Heating</h5>
											<p>Cosmic BMM provide coils, pumps, and other heating equipments.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>

				<div class="clear clearfix"></div>
			</div>

			<div class="clear"></div>
		</div>
	</section>

	{# about 2 #}
	<section class="about_content3 py-5 back-white backs_black">
		<div class="prelatife container py-4">
			<div class="inners_middle content-text py-5">
				<h2 class="title_red wow fadeInDown">Service Excellence Committment</h2>
				<div class="row wow fadeInDown">
					<div class="col-md-30">
						<h3>Combined together, Cosmic BMM has<br> 
							partnered with more than 150 local and national companies.</h3>
					</div>
					<div class="col-md-30">
						<p>As a trusted supplier in the existing independent corporate, now together we are even better. We will provide quality bitumen solutions that consistently deliver positive returns to our partners and clients.</p>
					</div>
				</div>
				<div class="py-4"></div>
				<div class="lists_thumbs_service_icon text-center wow fadeInDown">
					<div class="row">
						<div class="col-md-20">
							<div class="items">
								<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/sm-icon-services-1.jpg" alt="" class="img-fluid d-block mx-auto"></div>
								<div class="info">
									<h5>Quality Is Priority</h5>
									<p>For customer satisfaction, we put quality of our services and bitumen products that we supply, at the highest priority.</p>
								</div>
							</div>
						</div>
						<div class="col-md-20">
							<div class="items">
								<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/sm-icon-services-2.jpg" alt="" class="img-fluid d-block mx-auto"></div>
								<div class="info">
									<h5>Time & Work Efficiency</h5>
									<p>We appreciate time and efficiency of work to ensure every project goes according to plan.</p>
								</div>
							</div>
						</div>
						<div class="col-md-20">
							<div class="items">
								<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/sm-icon-services-3.jpg" alt="" class="img-fluid d-block mx-auto"></div>
								<div class="info">
									<h5>Transparency</h5>
									<p>We always transparently provide field data in real-time for our customerson each project.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="py-2"></div>

				<div class="clear clearfix"></div>
			</div>
			<div class="clear"></div>
		</div>
	</section>

{% endblock %}
